<%- include('includes/head'); %>

    <body>

        <section class="container">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
            <form action="/" method="post">
                <!-- [ABAIXO] input type hidden para criar um token de segurança para cada formulário enviado -->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <label>Cliente</label>
                <input type="text" name="cliente">
                <button>Submit</button>
            </form>
        </section>

        <%- include('includes/footer'); %>